<!DOCTYPE html>
<html>
<head>

    <title>Simple Flask calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    
    <form action="calculate" method="post">
        <div class="row-fluid">
            <div class="col-4 mx-auto">
                <h3 class="text-center py-4">Flask calculator</h3>
                
                {% for message in get_flashed_messages() %}
                    <p class="alert alert-danger">{{message}}</p>
                {% endfor %}
                
                <input type="hidden" id="pi" value="{{pi}}"/>
                <div class="row mb-2">
                    <label for="num1" class="col-4">Number 1: </label>
                    <div class="col-6"><input type="text" name="num1" id="num1" class="form-control" value="{{num1}}"></div>
                    <div class="col-2"><span>Is PI</span> <input type="checkbox" name="pinum1" class="pi_checkbox" {% if pinum1 %}checked{% endif %}/></div>
                </div>
                
                
                <div class="row mb-2">
                    <label for="operation" class="col-4">Operation: </label>
                    <div class="col-8 form-group">                        
                        <select name="operation" id="operation" class="form-select">
                            <option value="">--</option>
                            {% for i in range(maths_operations | length) %}
                            <option value="{{maths_operations[i]}}" {% if maths_operations[i] == operation %}selected{% endif %}>{{maths_operations[i]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="row mb-2">
                    <label for="num2" class="col-4">Number 2: </label>
                    <div class="col-6"><input type="text" name="num2" id="num2" class="form-control" value="{{num2}}"></div>
                    <div class="col-2"><span>Is PI</span> <input type="checkbox" name="pinum2" class="pi_checkbox" {% if pinum2 %}checked{% endif %}/></div>
                </div>
                
                
                
                <div class="row justify-content-end mb-2">
                    <div class="form-group col-8">
                        <input type="submit" value="Calculate" id="calculate" class="btn btn-dark w-100"/>
                    </div>
                </div>
                
                <div class="row mb-2">
                    <label for="result" class="col-4">Result: </label>
                    <div class="col-8"><input type="text" name="result" id="result" class="form-control" value="{{result}}"></div>
                </div>
                
                 <div class="row justify-content-end mb-2">
                    <div class="form-group col-8">
                        <a href="/clear" class="btn btn-dark w-100">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(function(){
            $('.pi_checkbox').click(function(){

                let inputid = $(this).attr('name').replace('pi', '');
                
                let pi_value = $('#pi').val();
                if($(this).is(':checked')){
                    $('#'+inputid).val(pi_value);
                }else{
                    $('#'+inputid).val('');
                }
             });
        });
    </script>

</body>
</html>